<nav>
    <!--<ul>
        <li><a href="#cv" class="button">Parcours<span class="arrow"></span></a></li>
        <li><a href="#competences" class="button">Competences<span class="arrow"></span></a></li>
        <li><a href="#portfolio" class="button">Portfolio<span class="arrow"></span></a></li>
    </ul>
    <div ng-controller="ButtonMenuController">
        <button ng-click="pressButton()">menu</button>

    </div>-->
    <ul>
        <li><a href="#accueil" id="accueil" class="button">Accueil<span class="arrow"></span></a></li>
        <li><a href="asset/pdf/cv_verhaeghe_julien.pdf" id="cv" class="button">C.V print<span class="arrow"></span></a></li>
        <li><a href="#contact" id="contact" class="button">Me contacter<span class="arrow"></span></a></li>
    </ul>
</nav>