body{

  transition: all 0.7s ease;

  &.menu-open{
    left: 240px;
  }
}

.menu-open .menu{
  left : 0px;
}
.menu {

  position: fixed;
  left: -240px;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.7s ease;


  &.open{
    left: 0px;
  }

  h1{
    padding: 15px 0 0 15px;
    font-size: 36px;
    strong{
      font-weight: bold;
    }
  }

}
